* {
  font-family: var(--font_text);
  font-size: 16px;
  font-weight: 500;
  color: black;
}

:root {
  --title: #d1d136;
  --subtitle: #ff8fa6;
  --hover: #aca22e;
  --background_page: #f9f4f4;
  --font_title: "Gorditas", serif;
  --font_subtitle: "Source Sans 3", serif;
  --font_text: "Averia Sans Libre", serif;
}

#navbar {
  z-index: 1;
  margin: 30px 0 0 30px;
}

.header {
  position: relative;
}

.header__container {
  position: absolute;
  top: 150px;
  left: 80px;
}

#title {
  font-family: var(--font_title);
  font-weight: 900;
  color: var(--title);
  font-size: 55px;
  margin-right: 80px;
}

.header__subtitle {
  font-family: var(--font_subtitle);
  color: var(--subtitle);
  font-weight: 700;
  font-size: 32px;
}

.row__header-button {
  max-width: 150px;
}

.header__button {
  padding: 15px;
  background-color: #ff3131;
  border: none;
  border-radius: 50px;
  color: white;
}

.header__duck {
  min-width: 150px;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .header__background {
  }
}
