* {
  font-family: var(--font_text);
  font-size: 18px;
  font-weight: 500;
  color: black;
}

:root {
  --title: #d1d136;
  --subtitle: #ff8fa6;
  --hover: #aca22e;
  --background_page: #f9f4f4;
  --font_title: "Gorditas", serif;
  --font_subtitle: "Source Sans 3", serif;
  --font_text: "Averia Sans Libre", serif;
}

#navbar {
  z-index: 1;
  margin: 30px 0 0 10px;
}

#title {
  font-family: var(--font_title);
  font-weight: 900;
  color: var(--title);
  font-size: 55px;
}

.header__subtitle {
  color: var(--subtitle);
  font-weight: 700;
  font-size: 32px;
}

#btn-create__profile {
  background-color: #ff3131;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.header__duck {
  min-width: 50px;
}

.about {
  background-image: url(./fondo-black.png);
  background-repeat: no-repeat;
}

.about__pato {
  min-width: 150px;
}

.about__subtitle {
  color: var(--subtitle);
  font-weight: 700;
  font-size: 32px;
}

.top__subtitle {
  font-family: var(--font_subtitle);
  color: var(--subtitle);
  font-weight: 700;
}

.top__subtitle {
  font-family: var(--font_text);
  color: var(--subtitle);
}

.top__image {
  max-width: 250px;
  height: 250px;
  object-fit: contain;
  align-self: center;
}

.top__like {
  cursor: pointer;
}

.form__profile {
  max-width: 500px;
  margin: auto;
}

.form__profile-title {
  font-family: var(--font_text);
  color: var(--subtitle);
  font-size: 32px;
  text-align: center;
}
